{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="shortcut icon" href="{% static 'img/icono.png' %}">
    
    <title>blog {%block titulo%} {%endblock titulo%}</title>
</head>
<body class="contenedor">
    <div>   
        <a href="{% url 'nosotros'%}">Acerca de</a>
        <a href="{% url 'home'%}">Inicio</a>
        <a href="{% url 'noticias:inicio'%}">Categorías</a>
        <a href="{% url 'noticias:contacto'%}">Contacto </a>
        {% if user.is_authenticated %}
        <p>Bienvenido {{user.username}}</p>
        <a href="{% url 'logout'%}">cerrar sesion</a>
        {%else%}
        <a href="{% url 'login'%}">iniciar sesion</a>
        <a href="{% url 'usuarios:registro' %}"> Registrar</a>
        
        {% endif %}
        
    </div>
    {%block contenido%}

    {%endblock contenido%} 
   
</body>
</html>